@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>House Quote</title>
</head>
<body>
    This is the view for the house/quote page.
</body>
</html>